<!--  -->
<section class="banner--bg sc--test who--bg">
    {#  #}

{{ drupal_entity('block','ux4mation_bannerhowweserve') }}
</section><!--  -->
<section class="section-padding sc--1" id="how_serve">
    <div class="fluid container">
        {#  #}

        {{ drupal_entity('block','ux4mation_centerofexcellence') }}
    </div>
</section>
<section class="box" id="odd-even-box">
    {#  #}

    {{ drupal_entity('block','ux4mation_customerexperience') }}
</section>
<section class="odd-even--box sc--test box---2">
    <div class="container">
        {#  #}

        {{ drupal_entity('block','ux4mation_uxuidesign') }}
    </div>
</section>
	<section class="Stories___client section-padding">
		{{ drupal_entity('block','ux4mation_section7logoslider') }}
	</section>
<section class="section-padding our--solution">
         <div class="container">
         {{ drupal_entity('block','ux4mation_oursolution') }}
         </div>
</section>
	<section class="logo">
		{{ drupal_entity('block','ux4mation_section3logoslider') }}
	</section>
