{# <footer>
	<div class="footer-top">
		<div class="container">
			<div class="row row-cols-md-5 g-5">
				<div class="col-lg-3 col-md-3">
					<div class="parent--footer-list logo--footer">
						{{ drupal_entity('block','abb_site_branding') }}
					</div>
					<p>
						{{body_footer}}
					</p>
				</div>

				<div class="col-lg-3 col-md-3">
					<div class="parent--footer-list logo--footer">
						<h2>{{ "Information" | t }}</h2>
					</div>

					{% if page.footer_top %}
						{{page.footer_top}}
					{% endif %}
				</div>

        				<div class="col-lg-3 col-md-3">
					<div class="parent--footer-list logo--footer">
						<h2>{{ "Liens utiles" | t }}</h2>
					</div>

					{% if page.footer_top_seconde %}
						{{page.footer_top_seconde}}
					{% endif %}
				</div>

				<div class="col-lg-3 col-md-3">
					<div class="parent--footer-list logo--footer">
						<h2>{{ "Suivez-nous :" | t }}</h2>
					</div>
					<ul
						class="social-icon">

						<li class="nav-item">
							<a class="nav-link" target="_blank" href="{{facebook}}">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="{{instagram}}">
								<i class="fa-brands fa-instagram"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="{{youtube}}">
								<i class="fa-brands fa-youtube"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="{{linkedin}}">
								<i class="fa-brands fa-linkedin-in"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col" data-aos-duration="100">
					<img src="{{logo_footer_bottom}}" alt="logo-footer-bottom"/>
				</div>
				<div class="col" data-aos-duration="100">
					<p class="copyright">
						{% set currentYear = "now"|date("Y") %}
						{{ "Copyright ©"|t }} {{ currentYear }} {{ '- Réalisation'|t }}
						<a target="_blank" href="{{ fornet }}">{{ "FORNET" |t }}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer> #}
<section class="sc--footer-linkdden">
	{{ drupal_entity('block','ux4mation_section12subscribe') }}
</section>
<footer class="footer-box">
	<section class="section-padding">
		<div class="fluid" style="background-color: #0C0041;">
			<div class="container-fluid">
				<div class="row">

					<div style="margin-top: 3%;" class="col-lg-2 col-sm-12  align-items-center text-center">

						{{ drupal_entity('block','ux4mation_site_branding') }}


					</div>
					<div
						class="col-lg-2 col-sm-12">

						{# 
																								                            <ul>
																								                                <li><a style="font-size: 22px;font-weight: bold;color: #ffffff;">Who we are</a></li>
																								                                <li><a style="color: #ffffff;">our story</a></li>
																								                                <li><a style="color: #ffffff;">leadership</a></li>
																								                                <li><a style="color: #ffffff;">work environment</a></li>
																								                                <li><a style="color: #ffffff;">media relations</a></li>
																								                                <li><a style="color: #ffffff;">invistor relations</a></li>
																								
																								                            </ul> #}
						{% if page.footer_top_1 %}
							{{page.footer_top_1}}
						{% endif %}
					</div>
					<div class="col-lg-2 col-sm-12">

						{% if page.footer_top_2 %}
							{{page.footer_top_2}}
						{% endif %}
						<div>
							<a style="color: #ffffff;"><img width="70%" src="\themes\custom\ux4mation\public\images\Know-How.png"></a>
						</div>
					</div>
					<div class="col-lg-2 col-sm-12">
						{% if page.footer_top_3 %}
							{{page.footer_top_3}}
						{% endif %}

					</div>
					<div class="col-lg-2 col-sm-12">
						{% if page.footer_top_4 %}
							{{page.footer_top_4}}
						{% endif %}
						<div>
							<a style="color: #ffffff;"><img width="50%" src="\themes\custom\ux4mation\public\images\certif.png"></a>
						</div>
					</div>


				</div>
				<div class="rectangle-div"></div>
				<div class="container">
					<div class="row  botom--footer">
						<div class="col-lg-6 col-sm-12">
							{{ drupal_entity('block','ux4mation_copyright') }}
						</div>

						<div class="col-lg-6 col-sm-12" id="footer----5">
							{% if page.footer_top_seconde %}
								{{page.footer_top_seconde}}
							{% endif %}
							{# <a style="color: white;">
															<div class="privacy-policy">Privacy Policy</div>
														</a>
														<div class="div" style="color: white;">|</div>
														<a>
															<div style="color: white;" class="privacy-policy">Privacy Policy</div>
														</a>
														<div class="div" style="color: white;">|</div>
														<a>
															<div style="color: white;" class="privacy-policy">Privacy Policy</div>
														</a> #}
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</footer>
