{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}


{#
{% set video_id = row._relationship_entities.tid_representative.field_youtube_video.value.0.video_id %}
<div class="col-12 col-md-6 mb-4" data-aos="fade-up">
    <div class="all-card-body">
        <div class="item--video video-item  text-white bg-dark">
            {% set video_id = row._relationship_entities.tid_representative.field_youtube_video.value.0.video_id %}
{% set video_thumbnail_url = video_id ? 'https://img.youtube.com/vi/' ~ video_id ~ '/sddefault.jpg' : '/path/to/default/image.jpg' %}

            <img src="{{ video_thumbnail_url }}" alt="Video Thumbnail" class="video-thumbnail" loading="lazy">
        </div>
        <div class="card--body-sc">
            <h2 class="h4">{{ fields.name.content }}</h2>
            <a href="{{ path('view.videos.page_1',{'category': row._entity.tid.value}) }}">{{ "Tout voir"|t }} ></a>
        </div>
    </div>
</div> #}
 <li class="my-4">
            <div class="row">

              <div class="col-sm-4">
                <p class="work in">{{ fields.title.content }}
                </p>
                <p style="font-size: 20px;">{{ fields.field_sub_titre.content }}</p>
              </div>
              <div class="col-sm-4">
                <p>{{ fields.body.content }}</p>
              </div>
              <div class="col-sm-4" style="justify-content: right;display: flex;">
                <button type="button" class="btn"
                  style=" width: 60%;margin-top: 30px;   background: linear-gradient(130deg, #792CFC 3%, #B23293 57%, #6D479C 100%); box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20); border-radius: 100px;">
                  <div style="padding: 5px;border-radius: 20px; border: 1px #ffffff solid;"> <a href="#"
                      style="color: #ffffff;">Discover more</a>
                  </div>
                </button>
              </div>
            </div>
          </li>
