{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{# Render the menu with custom classes and structure #}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% if menu_level == 0 %}
		<ul class="nav justify-content-center">
		{% else %}
			<ul>
			{% endif %}

			{% for item in items %}
				<li class="nav-item">
					<a class="nav-link {% if item.in_active_trail %}active{% endif %}" aria-current="page" href="{{ item.url }}">{{ item.title }}</a>

					{% if item.below %}
						<div class="menu-subs-overlay menu-level-{{ menu_level + 1 }}">
							<div class="menu-subs-inner">
								<ul>
									<div class="item--custom">
										<li class="menu-subs-col">
											<h2>{{ item.title }}</h2>

											{% if loop.index == 1 %}
												<p>{{ 'Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 1'|t }}</p>
											{% elseif loop.index == 2 %}
												<p>{{ 'Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 2'|t }}</p>
											{% elseif loop.index == 3 %}
												<p>{{ 'Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 3'|t }}</p>
											{% elseif loop.index == 4 %}
												<p>{{ 'Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 4'|t }}</p>
											{% else %}
												<p>{{ 'Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 5'|t }}</p>
											{% endif %}

											{% if loop.index == 1 %}
												<a href="#">
													<button class="btn">
														<span>&gt;</span>Discover more1
													</button>
												</a>
											{% elseif loop.index == 2 %}
												<a href="#">
													<button class="btn">
														<span>&gt;</span>Discover more2
													</button>
												</a>
											{% elseif loop.index == 3 %}
												<a href="#">
													<button class="btn">
														<span>&gt;</span>Discover more3
													</button>
												</a>
											{% elseif loop.index == 4 %}
												<a href="#">
													<button class="btn">
														<span>&gt;</span>Discover more4
													</button>
												</a>
											{% else %}
												<a href="#">
													<button class="btn">
														<span>&gt;</span>Discover more5
													</button>
												</a>
											{% endif %}

										</li>
									</div>

									<div class="item--custom">
										<li class="menu-subs-col">
											<ul>
												{% for sub_item in item.below %}
													<li class="menu--item-title">
														<a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
													</li>

													{% if sub_item.below %}
														<div class="menu--item-subs menu-level-{{ menu_level + 2 }}">
															<ul>
																{% for sub_sub_item in sub_item.below %}
																	<li>
																		<div class="sub-menu-item">
																			<div class="sub-menu-item-title">
																				<a href="{{ sub_sub_item.url }}">{{ sub_sub_item.title }}</a>
																			</div>
																		</div>
																	</li>
																{% endfor %}
															</ul>
														</div>
													{% endif %}
												{% endfor %}
											</ul>
										</li>

										<li>
											{% if loop.index == 1 %}


												{{ drupal_entity('block','ux4mation_menu1images') }}
											{% elseif loop.index == 2 %}


												{{ drupal_entity('block','ux4mation_menu2images') }}
											{% elseif loop.index == 3 %}


												{{ drupal_entity('block','ux4mation_menu3images') }}
											{% elseif loop.index == 4 %}


												{{ drupal_entity('block','ux4mation_menu4images') }}
											{% else %}

												<div class="img----right">
													<img src="\themes\custom\ux4mation\public\images\joshua-earle--87JyMb9ZfU-unsplash 2.png">
												</div>
												{{ drupal_entity('block','ux4mation_section5transformhuman') }}
											{% endif %}
											{#
																																												<div class="img----right">
																																													<img src="\themes\custom\ux4mation\public\images\joshua-earle--87JyMb9ZfU-unsplash 2.png">
																																												</div> #}
										</li>
									</div>
								</ul>
							</div>
						</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		{#  #}
		<ul id="menu-second-main-mobile" class="list list-unstyled list-product-nav" style="display:none">

			{% for item in items %}

				<li class="loop-mobile">
					{% if item.below %}
						<a href="#" class="list-product-cat">{{ item.title }}<span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true">
								<i class="fa fa-chevron-down"></i>
							</span>
						</a>
					{% else %}
						<a href="{{ item.url }}" class="list-product-cat no-arrow">{{ item.title }}<span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true">
								<i class="fa fa-chevron-down"></i>
							</span>
						</a>
					{% endif %}
					{% set hasNochildren = [] %}
					<ul class="list list-unstyled list-product-subnav">
						{% for sub_item in item.below %}
							{% if sub_item.below %}
								<li class="menu-item-has-children li_with_arrow">
									<a href="#" class="list-product-cat">{{ sub_item.title }}</a>
									<ul class="list list-unstyled list-product-subnav">
										<li class="list--href">
											{% for ss_item in sub_item.below %}
												{% if ss_item.url %}
													<a href="{{ ss_item.url }}">{{ ss_item.title }}</a>
												{% endif %}
											{% endfor %}
										</li>
									</ul>
								</li>
							{% else %}
								{% set hasNochildren = hasNochildren|merge([sub_item]) %}
							{% endif %}
						{% endfor %}
						<li class="menu-subs-col">
							<div class="menu--items-no-child">
								{% for itemNoChild in hasNochildren %}
									<div class="menu--item-no-child">
										<div class="menu--item-no-child-url">{{ link(itemNoChild.title, itemNoChild.url) }}</div>
									</div>
								{% endfor %}
							</div>
						</li>
					</ul>

				</li>
			{% endfor %}
		</ul>
	{% endmacro %}
	{#  #}
