{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}


  <section class="banner--bg sc--test" id="Careers">
    {# <div class="img--banner">
      <img src="\themes\custom\ux4mation\public\images\banner__car.png">
      <div class="container wrapper-text-banner">
        <div class="row">
          <div class="col-sm-12 mt-5">
            <h2>Careers</h2>
            <p>Sed ut unde omnis iste natus error sit voluptatemaccusantium doloremque laudantium sed ut unde omnis iste
              natus.</p>
          </div>
        </div>
      </div>
    </div> #}
    {{ drupal_entity('block','ux4mation_bannercareers') }}
    </div>

  </section>

  <section class="section-padding cellele list-wrap" id="wrapper---search">
    <div class="right--fixedd-icon">
      <img src="\themes\custom\ux4mation\public\images\cellele.png">
    </div>
    <div class="fluid container-fluid"
      style=" box-shadow: 0px -1px 73.1px rgba(0, 0, 0, 0.15); background-color: #fff; padding: 24px 83px 0px 0px; ">
      <div class="row">
        <div class="col-lg-6">
          <h1 style="font-weight: 900;">Senior UX/UI Designer</h1>
          <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem </p>
        </div>
        <div class="col-lg-6 search---icon">

          <div class="search--icon-1">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>

          <input type="text" id="search-text" placeholder="search" class="search-box">
        </div>
        <ul class="col-lg-12 col-sm-12" id="list">
          <!-- <li class="in">Apple pie</li>
          <li class="in">Pumpkin pie</li>
          <li class="in">Banana-creme pie</li>
          <li class="in">Peach-blackberry cobbler</li>
          <li class="in">Chocolate-strawberry torte</li>
          <li class="in">Chocolate-zucchini cake</li>
          <li class="in">Anything involving chocolate and mint</li>
          <li class="in">Red-velvet cake</li>
          <li class="in">Anything involving fruits that aren't cherries</li> -->
          {# <li class="my-4">
            <div class="row">

              <div class="col-sm-4">
                <p class="work in">Work With Us
                </p>
                <p style="font-size: 20px;">Remote - CDI</p>
              </div>
              <div class="col-sm-4">
                <p>Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum
                  dolor ipsum dolor</p>
              </div>
              <div class="col-sm-4" style="justify-content: right;display: flex;">
                <button type="button" class="btn"
                  style=" width: 60%;margin-top: 30px;   background: linear-gradient(130deg, #792CFC 3%, #B23293 57%, #6D479C 100%); box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20); border-radius: 100px;">
                  <div style="padding: 5px;border-radius: 20px; border: 1px #ffffff solid;"> <a
                      style="color: #ffffff;">Discover more</a>
                  </div>
                </button>
              </div>
            </div>
          </li> #}

                 {% if rows %}
                    {{ rows }}
                {% endif %}
      </div>

    </div>
    {# {{ drupal_entity('block','ux4mation_banner_Careers') }} #}

    </div>

  </section>
  <section class="section-padding sc--Leadership" id="carres---3">
    {# <div class="container">
      <div class="row">
        <div class="col-sm-12 mt-5">
          <div class="text-center">

            <h1><b>Hiring Journey</b></h1>

            <p class="mt-5">Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem
              ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsumLorem ipsum dolor ipsum dolorLore.
              m dolorLorem ipsumLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum
              dolorLorem ipsum dolor ipsum</p>
          </div>
        </div>

      </div>
      <div class="wrapper--card-items-carres">
        <div class="stages-container">
          <div class="stage stage-1">
            <h2>Stage 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
          </div>
          <div class="stage stage-1">
            <h2>Stage 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
          </div>
          <div class="stage stage-1">
            <h2>Stage 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
          </div>
        </div>
        <div class="after--icon" >
          <svg xmlns="http://www.w3.org/2000/svg" width="766" height="439" viewBox="0 0 766 439" fill="none">
            <path d="M765.222 82.9148C-44.9999 -265.501 649.001 637 1.50113 395.501"
              stroke="url(#paint0_linear_243_3796)" stroke-width="3" stroke-dasharray="11 11"></path>
            <defs>
              <linearGradient id="paint0_linear_243_3796" x1="206.823" y1="30.3788" x2="303.45" y2="777.908"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#5704E0"></stop>
                <stop offset="0.303956" stop-color="#F331EA"></stop>
                <stop offset="0.4661" stop-color="#9E0099"></stop>
                <stop offset="1" stop-color="#950085"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>

      </div>
    </div> #}
      {{ drupal_entity('block','ux4mation_hiringourney') }}
  </section>
  <section class="transform section-padding img--slider-scroll" id="carres---4">

    {# <div class="fluid we-are">
      <div class="icon--left-left">
        <img src="\themes\custom\ux4mation\public\images\left--icon-1.png">
      </div>
      <div class="row">
        <div class="col-sm-5">
          <h1 class="main-heading">Work environment</h1>
          <p class="mt-3">Lorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum
            dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLoresum dolorLore.

            m dolorLorem ipsumLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor
            ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsumLorem ipsum
            dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor ipsum dolorLorem ipsum dolor
            ipsum.</p>
          <img src="\themes\custom\ux4mation\public\images\certif.png" class="mt-3 img-fluid move--orizintale">
        </div>
        <div class="col-sm-7">

          <div class="container">
            <!-- Carousel -->
            <div id="customers_work_1" class="owl-carousel">
              <!-- Service Items -->
              <div class="item shadow-lg   bg-white rounded service-item">
                <div class="img--card">
                  <img src="\themes\custom\ux4mation\public\images\story.png" alt="Image 1">
                </div>
              </div>
              <div class="item shadow-lg   bg-white rounded service-item">
                <div class="img--card">
                  <img src="\themes\custom\ux4mation\public\images\story.png" alt="Image 2">
                </div>
              </div>
              <div class="item shadow-lg   bg-white rounded service-item">
                <div class="img--card">
                  <img src="\themes\custom\ux4mation\public\images\story.png" alt="Image 3">
                </div>
              </div>
              <div class="item shadow-lg   bg-white rounded service-item">
                <div class="img--card">
                  <img src="\themes\custom\ux4mation\public\images\story.png" alt="Image 4">
                </div>
              </div>
            </div>
            <!-- Custom Pagination Controls -->
            <!-- <div class="custom-pagination">
              <button class="prev-btn"><i class="fas fa-arrow-left"></i></button>
              <span class="counter">1 of 4</span>
              <button class="next-btn"><i class="fas fa-arrow-right"></i></button>
            </div> -->
          </div>


        </div>
      </div>
    </div> #}
    {{ drupal_entity('block','ux4mation_workenvironment') }}
  </section>

  <section class="section-padding sc--Leadership" id="carres---6">

    {{ drupal_entity('block','ux4mation_trainingcareerdevelopment') }}
  </section>

{#
 <section class="detail--box">
    <div class="container">
        <div class="listing--row">
            <div class="row">
                <div class="col mb-3">
                    {{ header }}
                </div>
            </div>
            <div class="row mt-3 all-item--box-infographies">
                {% if rows %}
                    {{ rows }}
                {% endif %}
            </div>
        </div>
    </div>
</section> #}
