<section class="section-padding" id="contact--page-1">
<div class="img--contant-title">
<img src="\themes\custom\ux4mation\public\images\xcontact.png">
</div>
  <div class="contact-container display d-flex flex-column align-items-center text-center">
    <h1><b>{{ 'Contact Us'|t }}</b></h1>
    <p>{{ 'Sed ut unde omnis iste natus error sit voluptatem accusantium doloremque laudantium sed ut unde omnis iste natus'|t }}.</p>
  </div>
</section>
<section id="my_contact">
  <div class="container form-container">
<form{{ attributes }}>
  {{ title_prefix }}
  {{ children }}
  {{ title_suffix }}
</form>
  </div>
</section>
